extends ../layout

block content 
  div.card
    img.card-img-top(src="https://via.placeholder.com/150" alt="")

    div.card-body
      h5.card-title #{users.first_name} #{users.last_name} 
      p.card-text 

    ul.list-group.list-group-flush
      li.list-group-item Email: #{users.email}
      li.list-group-item 
        | Active: 
        if users.active === 1
          span.text-success Yes
        else
          span.text-danger No

    div.card-body
      a.btn.btn-primary(href='/users/' + users.customer_id + '/edit') Edit
      a.btn.btn-warning(href="/users") Cancel
