extends ../layout 

block content
    table.table
        thead
            tr
            
            th.col First Name
            th.col Last Name
            th.col Email
        tbody
            each user in users
                tr
                  td #{user.first_name}
                  td #{user.last_name}
                  td #{user.email}

               
